:root {
    --s-blue: hsl(231, 69%, 60%);
    --s-white: #FFFFFF;
    --p-text: #647787;
    --body-bg: #E5E5E5;
}

.none {
    display: none;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--body-bg) !important;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex {
    display: flex;
    display: -webkit-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-flow: row wrap;  
}

.row.stats-tab {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem !important;
    margin-left: -.75rem !important;
}

.justify-content-end {
    justify-content: center;
}

.navbar {
    position: relative;
    z-index: 1;
}

.dark {
    background-color: #000;
}

.bg-light {
    background-color: var(--s-white) !important;
}

nav {
    flex: 1;
}

.navbar .nav-item .nav-link {
    padding: 0 1.3rem !important;
}

nav.quick--link > .sub-links > ul,
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
nav > ul > li {
  display: inline-block;
  position: relative;
  width: 100%;
  font-weight: 400;
  font-size: 0.87rem;
  padding: 0 1rem;
  letter-spacing: 1px;
}

ul.quick--link-list > li.active::before {
    background-color: rgba(25, 141, 219, 0.164);
    position: absolute;
    content: '';
    height: 50%;
    left: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
    border-left: 3px solid #2574A9;
  }

.user-details span {
    display: block;
    margin: 0;
    font-size: 0.85rem;
    text-align: end;
    color: var(--p-text);
}

.badge {
    background-color: var(--s-blue);
    color: #333 !important;
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.form-inline .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    border-radius: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}



/* SIDEBAR */

.sidebar {
    position: relative;
    background: var(--s-white);
    flex: 1;
    min-height: 100vh;
    padding: 0 !important;
}

.sidebar-container {
    position: fixed;
    width: 15rem;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--s-white);
    color: #fff;
  }
  
  .content-container {
    padding-top: 20px;
  }
  
  .sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: #2574A9;
  }
  
  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  
  /* .sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
  } */
  

  
  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }
  
  .sidebar-navigation li a:active {
    background-color: #2574A9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }
  
  .sidebar-navigation li:hover::before {
    width: 100%;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }

  .content-wrapper {
      padding-left: 220px;
  }

.cta--btn {
    padding-top: 25px;
}

.cta--btn .gen-invoice {
    background-color: #27AE60;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    padding: 0.54rem 1.5rem;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    vertical-align: -webkit-baseline-middle;
}

.quick--link .sub-links label {
    display: block;
    font-size: 0.76rem;
    color: #647787;
}

nav > .sub-links > ul.quick--link-list > li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 4px 0;
}

.sub-links {
    position: relative;
    margin-top: 18px;
    margin-bottom: 5px;
    padding-left: 20px;
}

nav > .sub-links > ul.quick--link-list > li > a {
    font-weight: 400;
    font-size: 0.76rem;
    letter-spacing: 0;
    line-height: 3px;
    color: var(--p-text);
}

img.quick--link-icon {
    vertical-align: middle;
    margin-right: 15px;
    align-items: center;
    width: 18px;
}

/* CONTENT AREA */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.card-body {
    padding: 0.85rem !important;
}

.text-xs {
    font-size: .7rem;
    color: var(--p-text);
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.chart {
    margin: 0 !important;
    padding: 0 !important;
}

.orders-tab, .payments-tab {
    background-color: var(--s-white);
    padding: 1.3rem 1rem !important;
}

.orders-tab h4, 
.payments-tab h4 {
    font-size: 0.875rem;
    font-weight: 700;
}

.orders-tab p, 
.payments-tab p {
    margin: 0;
    font-size: 0.85rem;
}

.table.dataTable thead {
    background-color: #EAEEF0;
}

.btn {
    margin: 0 .3rem !important;
    box-shadow: none !important;
}

button.previous-tab,
button.next-tab {
    display: inline-block;
    background: linear-gradient(0deg, #ced4da);
	border: 1px solid #ced4da;
	border-radius: 3px;
	color: #ced4da;
	font-size: 12px;
	padding: 5px 15px;
	cursor: pointer;
}

label.filterDropDown {
    display: inline-block;
    margin-bottom: .5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    text-align: left;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: url('../illustrations/select.svg') no-repeat right .75rem center/8px 10px !important;
    border: 0 !important;
    border-bottom: 1px solid #a4a5a7 !important;
    border-radius: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.filtered.form-control,
input[type=search].form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent !important;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #a4a5a7 !important;
    border-radius: 0 !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

span.status .fas {
    line-height: 0;
}

span.status {
    position: relative;
    background: transparent;
    color: #ccc;
    border: 1px solid #ccc;
    padding: 0.4rem 1.6rem;
    width: 300px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

span > i {
    font-size: 10px;
    vertical-align: middle;
    line-height: 0 !important;
}



/* CONTENT AREA */